/***************************
****************************
Reset
****************************
***************************/

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/***************************
****************************
Base Styles
****************************
***************************/
body {
  color: #414042;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

a {
  color: #ffd8aa;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
