$green: #8dc63f !default;
$orange: #f7941e !default;
$brown: #594a42 !default;
$dark-brown: #414042 !default;
$tan: #e7e1d7 !default;

$Pink: hsl(322, 100%, 66%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$VeryPaleBlue: hsl(207, 100%, 98%);

$text-color: $VeryDarkCyan !default;
$link-color: $green !default;
