.grow-together {
	background: url("/images/bg-section-top-mobile-1.svg") top no-repeat,
		url("/images/bg-section-bottom-mobile-1.svg") bottom no-repeat;

	@include small-and-above {
		background: url("/images/bg-section-top-desktop-1.svg") top no-repeat,
			url("/images/bg-section-bottom-desktop-1.svg") bottom no-repeat;
	}

	height: auto;
	border: 1px solid transparent;
	@include extra-large {
		background-size: 1680px;
	}
}

.gt-img {
	height: 400px;
	// width: auto;
	background: url("/images/illustration-grow-together.svg") center center no-repeat;
	background-size: contain;
}

.motto {
	height: 200px;
	text-align: center;
	@include medium-and-above {
		text-align: left;
		margin: 80px auto;
		padding: 0 5%;
	}
	h2 {
		padding-top: 2rem;
		padding-bottom: 2rem;
		@include medium-and-above {
			text-align: left;
		}
	}
}

.motto-paragraph {
	font-size: 0.9rem;
	line-height: 1.3rem;
}

.bg-color-fill {
	background-color: $VeryPaleBlue;
}

.inner {
	height: 400px;
	margin-top: 112px;
	margin-bottom: 52px;
}
