.grow-together {
	background: url("/images/bg-section-top-mobile-1.svg") top no-repeat,
		url("/images/bg-section-bottom-mobile-1.svg") bottom no-repeat;

	@include small-and-above {
		background: url("/images/bg-section-top-desktop-1.svg") top no-repeat,
			url("/images/bg-section-bottom-desktop-1.svg") bottom no-repeat;
	}

	// height: auto;
	// min-height: 400px;
	// padding-top: 110px;

	@include extra-large {
		background-size: 1920px;
	}
}

.motto {
	display: flex;
	flex-direction: column;

	@include medium-and-above {
		flex-direction: row;
	}
}

.motto-image {
	margin-top: 110px;
	background-color: $VeryPaleBlue;
	height: 200px;

	img {
		max-width: 100%;
		max-height: 100%;
	}

	@include small-and-above {
		height: 350px;
		margin-top: 164px;
	}

	@include medium-and-above {
		width: 50%;
	}

	@include extra-large {
		margin-top: 175px;
	}
}

.text {
	height: 200px;
	background-color: $VeryPaleBlue;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 7%;

	h2 {
		padding: 2rem 0;
	}

	p {
		line-height: 1.5rem;
	}

	@include small-and-above {
		margin-bottom: 138px;
	}

	@include medium-and-above {
		width: 50%;
		order: -1;
		height: 350px;
		margin-top: 164px;
		text-align: left;
		align-items: flex-start;
		// font-weight: 600;

		h2 {
			font-size: 2rem;
			font-weight: 700;
		}
	}

	@include extra-large {
		margin-top: 175px;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
