/***************************
Hero Modules
*************************** //***************************

Hero Modules ***************************/
.hero {
	text-align: center;
	width: 100%;
}

.hero-primary {
	padding-top: 25px;
	padding-bottom: 25px;
}

.hero-primary > img {
	width: 75%;
}

.counter {
	font-weight: 700;

	img {
		float: left;
		width: 20%;
	}
}

.counter-primary {
	font-size: 4rem;

	@include medium-and-above {
		font-size: 6rem;
	}
}

.counter-secondary {
	font-size: 3.5rem;

	@include medium-and-above {
		font-size: 6rem;
	}
}

.hero-col {
	display: inline-block;
	margin-bottom: 6rem;
}

.section-hero {
	margin-top: 5rem;
	@include medium-and-above {
		margin-top: 10rem;
	}
}
