/***************************
Logo Modules
***************************/

.logo {
    display: inline-block;
    line-height: 35px;
}



.logo img {
    height: 18px;

    @include medium-and-above {
        height: 35px;
        padding-left: 50px;
    }
}