/***************************
This will be the page horizontal menu
***************************/

.menu {
    clear: both;
    height: 39px;
    margin-top: 25px;
    margin-bottom: 100px;

    @include medium-and-above {
        margin-top: 80px;
        margin-bottom: 240px;
    }
}