// /***************************
// Nav Modules
// ***************************/

// .nav>ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
// }

// // Horizontal navbar
// .nav-primary {
//     margin-top: 28px;

//     @include small-and-above {
//         float: right;
//         vertical-align: middle;
//         text-align: right;
//         width: 60%;

//         li {
//             display: inline-block;
//         }
//     }
// }

.navbar {
    min-height: 90px;
    background-color: #724329;
    transition: background-color 300ms ease;
}

.navbar-primary {

    @include small-and-above {
        // background: transparent;
        background-color: transparent;
        transition: background-color 300ms ease;
    }
}