/***************************
Media Modules
***************************/

.users {
	background: url("/images/bg-section-top-mobile-2.svg") top no-repeat,
		url("/images/bg-section-bottom-mobile-2.svg") bottom no-repeat;

	@include small-and-above {
		background: url("/images/bg-section-top-desktop-2.svg") top no-repeat,
			url("/images/bg-section-bottom-desktop-2.svg") bottom no-repeat;
	}

	@include extra-large {
		background-size: 1920px;
	}

	.motto-image {
		margin-top: 100px;

		@include medium-and-above {
			margin-top: 156px;
		}
	}

	.text {
		margin-bottom: 100px;

		@include medium-and-above {
			margin-top: 156px;
			margin-bottom: 138px;
		}

		@include extra-large {
			margin-bottom: 168px;
		}
	}
}